body {
	margin: 0;
	text-align: center; /* layout center */
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.container {
	width: 800px;
	margin: 0 auto; /* layout center */
}

#header .container {
	border-bottom: 1px solid #aaa;
}

#header .container:after {
	content: " ";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

#header h1 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 100px;
	font-size: 40px;
	font-weight: 200;
}

#header h1 span {
	font-weight: 700;
}

#header .wrap {
	float: right;
	text-align: right;
	color: #00a;
}

#header .wrap h2 {
	margin: 32px 0 0 0;
	padding: 0;
	font-size: 20px;
	font-weight: 300;
}

#header .wrap p {
	margin: 0;
	padding: 0;
	font-size: 16px; 
	font-weight: 200;
}

#footer {
	height: 40px;
	margin-top: 60px;
}

#footer .container {
	border-top:1px solid #aaa;
}

#footer p {
	color: #999;
	font-size: 14px;
}

.section {
	margin-top: 40px;
}

.section h3 {
	color: #00a;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

.section p {
	text-align: justify;
	font-weight: 200;
	line-height: 150%;	
}

.section img {
	max-width: 100%;
}

